<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChatApp</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <link href="~/Plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Plugins/AwesomeCheckbox/build.css" rel="stylesheet" />

    <link href="~/Plugins/Toastr/toaster.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ChatApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Chat", "Index", "Chat/Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <toaster-container></toaster-container>

   
   
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Plugins/Toastr/toaster.min.js"></script>
    <script src="~/app/Controllers/CommonController.js"></script>
    <script src="~/app/Factories/LoginFactory.js"></script>
    <script src="~/app/Controllers/LoginController.js"></script>
    <script src="~/app/Factories/RegistrationFactory.js"></script>
    <script src="~/app/Controllers/RegistrationController.js"></script>
    <script src="~/app/app.js"></script>
   
</body>
</html>
